/* reset CSS */
* {
  box-sizing: border-box;
}

body,
p,
ul,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.cont-movie {
  margin: 86px 430px;
  background-color: #f2f2f2;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
}

.tit-cont {
  margin: 127px auto;
}
